<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.dao.ProductStateMapper">
  <resultMap id="BaseResultMap" type="com.zh.po.ProductState">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="product_state_id" jdbcType="INTEGER" property="productStateId" />
    <result column="product_state_name" jdbcType="VARCHAR" property="productStateName" />
  </resultMap>
</mapper>